.main {
    display: flex;
    flex-direction: column;
}

.container-menu-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu-categories {
    list-style: none;
}

.menu-categories li {
    padding: 5px;
    border: solid #86664f;
    border-width: .2px 0 0 0;
}

.menu-categories li:first-child {
    border-width: 0 0 0 0;
}

.menu-categories li a {
    font-size: 1em;
    color: #86664f;
    padding: .2px;
}

.container-sections {
    width: 100%;
    padding: 5px;
}

.section-title {
    text-align: center;
    color: #fbfbfb;
    font-weight: 100;
    font-size: 1.5em;
    padding: 5px;
    background: #93a267;
    opacity: 0.6;
}

.container-cards {
    display: flex;
}

.product-card {
    background: #fbfbfb;
    color: #86664f;
    border-radius: 5px;
    width: 220px;
    height: 275px;
    margin: 5px 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 6px;

    position: relative;
    box-shadow: .5px .5px 2px #e1e0df;
}

.product-card img {
    width: auto;
    height: 140px;
    margin: 5px;
    border-radius: 5px;
}

.product-card button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #86664f8f;
    position: absolute;
    bottom: 15px;
    color: #fbfbfb;
}

.product-card button:hover{
    background: #86664f;
    cursor: pointer;
    transition: 200ms;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-menu-categories {
        position: fixed;
        left: 50px;
        top: 100px;
    }

    .menu-categories li {
        border-width: .2px 0 0 0;
        padding: 10px 0;
        margin: 10px 0;
    }

    .menu-categories li a {
        font-size: 1.3em;
        padding: 10px;
        color: #86664f;
    }


    .container-sections {
        width: 75%;
        /* background: #e1e0df; */
        padding: 5px 10px 5px 20px;
    }

    .section-title {
        font-size: 2em;
    }

    .product-card {
        
        width: 210px;
        height: 305px;
    }

    .product-card img {
        width: auto;
        height: 170px;
        margin: 5px;
        border-radius: 5px;
    }
}